<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.researchgroup.modularsystem.persistence.daos.mybatis.mappers.ModuleMapper">

	<resultMap type='Module' id='ModuleResult'>
		<id property='name' column='name'/>
		<result property='iteration' column='iteration'/>
		<result property='initialDate' column='startDate'/>
		<association property='owner' resultMap='UserResult' columnPrefix='own_'/>
		<association property='start' resultMap='StartResult' columnPrefix='str_'/>
		<association property='development' resultMap='DevelopmentResult' columnPrefix='dev_'/>
		<association property='end' resultMap='EndResult' columnPrefix='end_'/>
		<collection property='remarks' ofType='java.lang.String' javaType='list'>
			<result column='remark'/>
		</collection>
	</resultMap>

	<resultMap type='User' id='UserResult'>
        <id property='name' column='name'/>
        <result property='text' column='text'/>
        <result property='selection' column='selection'/>
    </resultMap>

    <resultMap type='Start' id='StartResult'>
    	<result property='text' column='texts'/>
    	<result property='selection' column='selections'/>
    	<result property='frequency' column='frequency'/>
    	<result property='estimateDate' column='estimatedDate'/>
       	<collection property='documents' ofType='java.lang.String' javaType='list'>
			<result column='documents'/>
		</collection>
    </resultMap>

    <resultMap type='Development' id='DevelopmentResult'>
    	<result property='text' column='textd'/>
    	<result property='selection' column='selectiond'/>
    	<collection property='documents' ofType='java.lang.String' javaType='list'>
			<result column='documents'/>
		</collection>
    </resultMap>

    <resultMap type='End' id='EndResult'>
    	<result property='text' column='texte'/>
    	<result property='selection' column='selectione'/>
    	<result property='finalDate' column='finalDate'/>
       	<result property='startAndDevelopmentRemarks' column='finalRemarks'/>
    </resultMap>

    <select id='load' resultMap='ModuleResult'>
    	SELECT
    		mo.name as name,
    		us.name as own_name,
    		us.text as own_text,
    		us.selection as own_selection,
    		mo.iteration as iteration,
    		mo.startDate as startDate,
    		rem.remark as remark,
    		mo.textS as str_texts,
    		mo.selectionS as str_selections,
    		mo.frecuency as str_frequency,
    		mo.estimatedDate as str_estimatedDate,
    		start.uri as str_documents,
    		mo.textD as dev_textd,
    		mo.selectionD as dev_selectiond,
    		dev.uri as dev_documents,
    		mo.textE as end_texte,
    		mo.selectionE as end_selectione,
    		mo.finalDate as end_finalDate,
    		mo.finalRemarks as end_finalRemarks
    	FROM
    		Modules as mo LEFT JOIN Users as us ON mo.owner=us.name 
    		LEFT JOIN Modules_Remarks as rem ON mo.name=rem.Modules_name
    		LEFT JOIN Modules_Dev_Doc as dev ON mo.name=dev.Modules_name
    		LEFT JOIN Modules_Start_Doc as start ON mo.name=start.Modules_name
    	WHERE
    		mo.name=#{name};
    </select>

    <select id='loadSubMod' resultMap='ModuleResult'>
    	SELECT
    		mo.name as name,
    		us.name as own_name,
    		us.text as own_text,
    		us.selection as own_selection,
    		mo.iteration as iteration,
    		mo.startDate as startDate,
    		rem.remark as remark,
    		mo.textS as str_texts,
    		mo.selectionS as str_selections,
    		mo.frecuency as str_frequency,
    		mo.estimatedDate as str_estimatedDate,
    		start.uri as str_documents,
    		mo.textD as dev_textd,
    		mo.selectionD as dev_selectiond,
    		dev.uri as dev_documents,
    		mo.textE as end_texte,
    		mo.selectionE as end_selectione,
    		mo.finalDate as end_finalDate,
    		mo.finalRemarks as end_finalRemarks
    	FROM
    		Modules as mo LEFT JOIN Users as us ON mo.owner=us.name 
    		LEFT JOIN Modules_Remarks as rem ON mo.name=rem.Modules_name
    		LEFT JOIN Modules_Dev_Doc as dev ON mo.name=dev.Modules_name
    		LEFT JOIN Modules_Start_Doc as start ON mo.name=start.Modules_name
    		LEFT JOIN Modules_SubModules as sub ON sub.Modules_submodule=mo.name
    	WHERE
    		sub.Modules_name=#{name}
    	ORDER BY
    		mo.name;
    </select>

    <select id='loadAll' resultMap='ModuleResult'>
    	SELECT
    		mo.name as name,
    		us.name as own_name,
    		us.text as own_text,
    		us.selection as own_selection,
    		mo.iteration as iteration,
    		mo.startDate as startDate,
    		rem.remark as remark,
    		mo.textS as str_texts,
    		mo.selectionS as str_selections,
    		mo.frecuency as str_frequency,
    		mo.estimatedDate as str_estimatedDate,
    		start.uri as str_documents,
    		mo.textD as dev_textd,
    		mo.selectionD as dev_selectiond,
    		dev.uri as dev_documents,
    		mo.textE as end_texte,
    		mo.selectionE as end_selectione,
    		mo.finalDate as end_finalDate,
    		mo.finalRemarks as end_finalRemarks
    	FROM
    		Modules as mo LEFT JOIN Users as us ON mo.owner=us.name 
    		LEFT JOIN Modules_Remarks as rem ON mo.name=rem.Modules_name
    		LEFT JOIN Modules_Dev_Doc as dev ON mo.name=dev.Modules_name
    		LEFT JOIN Modules_Start_Doc as start ON mo.name=start.Modules_name
    	ORDER BY
    		mo.name;
    </select>

    <select id='loadMain' resultMap='ModuleResult'>
    	SELECT
    		mo.name as name,
    		us.name as own_name,
    		us.text as own_text,
    		us.selection as own_selection,
    		mo.iteration as iteration,
    		mo.startDate as startDate,
    		rem.remark as remark,
    		mo.textS as str_texts,
    		mo.selectionS as str_selections,
    		mo.frecuency as str_frequency,
    		mo.estimatedDate as str_estimatedDate,
    		start.uri as str_documents,
    		mo.textD as dev_textd,
    		mo.selectionD as dev_selectiond,
    		dev.uri as dev_documents,
    		mo.textE as end_texte,
    		mo.selectionE as end_selectione,
    		mo.finalDate as end_finalDate,
    		mo.finalRemarks as end_finalRemarks
    	FROM
    		Modules as mo LEFT JOIN Users as us ON mo.owner=us.name 
    		LEFT JOIN Modules_Remarks as rem ON mo.name=rem.Modules_name
    		LEFT JOIN Modules_Dev_Doc as dev ON mo.name=dev.Modules_name
    		LEFT JOIN Modules_Start_Doc as start ON mo.name=start.Modules_name
    	WHERE
    		mo.name NOT IN (
    			SELECT 
    				Modules_submodule as module
    			FROM
    				Modules_Submodules
    		)
    	ORDER BY
    		mo.name;
    </select>

    <select id='loadByUser' resultMap='ModuleResult'>
    	SELECT
    		mo.name as name,
    		us.name as own_name,
    		us.text as own_text,
    		us.selection as own_selection,
    		mo.iteration as iteration,
    		mo.startDate as startDate,
    		rem.remark as remark,
    		mo.textS as str_texts,
    		mo.selectionS as str_selections,
    		mo.frecuency as str_frequency,
    		mo.estimatedDate as str_estimatedDate,
    		start.uri as str_documents,
    		mo.textD as dev_textd,
    		mo.selectionD as dev_selectiond,
    		dev.uri as dev_documents,
    		mo.textE as end_texte,
    		mo.selectionE as end_selectione,
    		mo.finalDate as end_finalDate,
    		mo.finalRemarks as end_finalRemarks
    	FROM
    		Modules as mo LEFT JOIN Users as us ON mo.owner=us.name 
    		LEFT JOIN Modules_Remarks as rem ON mo.name=rem.Modules_name
    		LEFT JOIN Modules_Dev_Doc as dev ON mo.name=dev.Modules_name
    		LEFT JOIN Modules_Start_Doc as start ON mo.name=start.Modules_name
    	WHERE
    		mo.owner=#{userName}
    	ORDER BY
    		mo.name;
    </select>

    <select id='loadMainByUser' resultMap='ModuleResult'>
    	SELECT
    		mo.name as name,
    		us.name as own_name,
    		us.text as own_text,
    		us.selection as own_selection,
    		mo.iteration as iteration,
    		mo.startDate as startDate,
    		rem.remark as remark,
    		mo.textS as str_texts,
    		mo.selectionS as str_selections,
    		mo.frecuency as str_frequency,
    		mo.estimatedDate as str_estimatedDate,
    		start.uri as str_documents,
    		mo.textD as dev_textd,
    		mo.selectionD as dev_selectiond,
    		dev.uri as dev_documents,
    		mo.textE as end_texte,
    		mo.selectionE as end_selectione,
    		mo.finalDate as end_finalDate,
    		mo.finalRemarks as end_finalRemarks
    	FROM
    		Modules as mo LEFT JOIN Users as us ON mo.owner=us.name 
    		LEFT JOIN Modules_Remarks as rem ON mo.name=rem.Modules_name
    		LEFT JOIN Modules_Dev_Doc as dev ON mo.name=dev.Modules_name
    		LEFT JOIN Modules_Start_Doc as start ON mo.name=start.Modules_name
    	WHERE
    		mo.owner=#{userName} AND
    		mo.name NOT IN (
    			SELECT 
    				Modules_submodule as module
    			FROM
    				Modules_Submodules
    		)
    	ORDER BY
    		mo.name;
    </select>

    <insert id='insertModule' parameterType='map'>
    	INSERT INTO 
    		Modules 
    		(name,owner,startDate,textS,selectionS,frecuency,estimatedDate,textD,selectionD,iteration,finalDate,textE,selectionE,finalRemarks) 
		VALUES 
			(#{module.name},#{module.owner.name},#{module.initialDate},#{module.start.text},#{module.start.selection},#{module.start.frequency},#{module.start.estimateDate},#{module.development.text},#{module.development.selection},#{module.iteration},#{module.end.finalDate},#{module.end.text},#{module.end.selection},#{module.end.startAndDevelopmentRemarks});
    </insert>

	<insert id='insertSubModule' parameterType='map'>
		INSERT INTO 
			Modules_Submodules 
			(Modules_name,Modules_submodule)
		VALUES 
			(#{nameMod},#{nameSubMod});
    </insert>

    <insert id='insertDocStart' parameterType='map'>
    	INSERT INTO 
			Modules_Start_Doc 
			(Modules_name,uri)
		VALUES 
			(#{name},#{uri});
    </insert>

    <insert id='insertDocDev' parameterType='map'>
    	INSERT INTO 
			Modules_Dev_Doc 
			(Modules_name,uri)
		VALUES 
			(#{name},#{uri});
    </insert>

    <insert id='insertRemark' parameterType='map'>
    	INSERT INTO 
			Modules_Remarks 
			(Modules_name,remark)
		VALUES 
			(#{name},#{remark});
    </insert>

    <update id='updateModule' parameterType='map'>
    	UPDATE
    		Modules
    	SET
    		owner = #{mod.owner.name},
    		startDate = #{mod.initialDate},
    		iteration = #{mod.iteration}
    		textS = #{mod.start.text},
    		selectionS = #{mod.start.selection},
    		frecuency = #{mod.start.frequency},
    		estimatedDate = #{mod.start.estimateDate},
    		textD = #{mod.development.text},
    		selectionD = #{mod.development.selection},
    		textE = #{mod.end.text},
    		selectionE = #{mod.end.selection},
    		finalDate = #{mod.end.finalDate},
    		finalRemarks = #{mod.end.startAndDevelopmentRemarks}
    	WHERE
    		name=#{oldName};
    </update>

</mapper>