<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.researchgroup.modularsystem.persistence.daos.mybatis.mappers.RoleMapper">

    <insert id='insertRole' parameterType='map'>
        INSERT INTO 
            User_Roles (username,role)
        VALUES 
            (#{username},#{role});
    </insert>
</mapper>