<!DOCTYPE html>
<html>
<head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .selected {
      background-color: #A9F5F2;
    }
</style>
</head>
<br>
<div ng-show="authenticated">
    <center>
        <h1>
            <b>
                {{actualModuleLng}}{{selectedModule.name}}
            </b>
        </h1>
        <br>
        <h2>
            <b>
                {{actualModuleProprietorLng}}{{selectedModule.owner.name}}
            </b>
        </h2>
        <p>
            <b>{{moduleIsFinishedLng}}</b>{{(selectedModule.iteration)?YesLng:NoLng}}
        </p>
        <br>
        <p>
            <b>{{actualModuleInitialDateLng}}</b>{{selectedModule.initialDate  | date:"dd/MMMM/yyyy"}}
        </p>
    </center>
</div>
<br>
<div ng-show="!visibleIterateModule&&!visibleCloneForm&&!visibleEndEdit&&!visibleDevelopmentEdit&&!visibleStartDocuments&&!visibleDevelopmentDocuments&&authenticated">
    <button ng-click="prepareCloneModule()">{{cloneModuleLng}}</button>
    <br>
    <center>
        <strong>
            <b>{{moduleFrequencyNoteLng}}
            </b>
        </strong>
        <br>
        <table bgcolor="#F6E3CE" ng-model="selectedModule" ng-change="selectedModule">
            <tr>
                <th>
                    <center>
                        {{moduleStartLng}}
                    </center>
                </th>
            </tr>
            <tr>
                <td><b>{{moduleStartTextLng}}</b>{{selectedModule.start.text}}</td>
            </tr>
            <tr>
                <td><b>{{moduleStartSelectionLng}}</b>{{selectedModule.start.selection}}</td>
            </tr>
            <tr>
                <td><b>{{moduleMaintainsFrequencyLng}}</b>{{(selectedModule.start.frequency)?YesLng:NoLng}}</td>
            </tr>
            <tr>
                <td><b>{{moduleEstimatedDateLng}}</b>{{selectedModule.start.estimateDate  | date:"dd/MMMM/yyyy"}}</td>
            </tr>
            <tr>
                <td>
                    <center>
                        <button ng-click="showStartDocuments()">
                            {{moduleStartDocumentsLng}}
                        </button>
                    </center>
                </td>
            </tr>
        </table>
        <br>
        <table bgcolor="#F5F6CE" ng-model="selectedModule" ng-change="selectedModule">
            <tr>
                <th>
                    <center>
                        {{moduleDevelopmentLng}}
                    </center>
                </th>
            </tr>
            <tr>
                <td><b>{{moduleDevelopmentTextLng}}</b>{{selectedModule.development.text}}</td>
            </tr>
            <tr>
                <td><b>{{moduleDevelopmentSelectionLng}}</b>{{selectedModule.development.selection}}</td>
            </tr>
            <tr>
                <td>
                    <center>
                        <button ng-click="showDevelopmentDocuments()">
                            {{moduleDevelopmentDocumentsLng}}
                        </button>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <button ng-show="!selectedModule.iteration" ng-click="showDevelopmentEdit()">{{editModuleDevelopmentLng}}</button>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <button ng-click="showSubmodules()">
                            {{moduleSubmodulesLng}}
                        </button>
                    </center>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
        <br>
        <div ng-show="visibleSubmodules&&authenticated">
            <center>
                <h1>
                    <b>{{moduleSubmodulesLng}} {{selectOneForDetailsLng}}</b>
                </h1>
            </center>
            <table bgcolor="#81F781" ng-model="selectedModule" ng-change="selectedModule">
                <tbody>
                <tr>
                    <th>{{moduleNameLng}}</th>
                    <th>{{moduleOwnerLng}}</th>
                </tr>
                <tr ng-repeat="module in selectedModule.development.subModules" ng-click="selectSubModule(module)" ng-class="{selected: module.name === selectedSubModule.name}">
                    <td>{{module.name}}</td>
                    <td>{{module.owner.name}}</td>
                </tr>
                </tbody>
            </table>
            <button ng-show="SubModuleIsSelected" ng-click="goToSubmodule()">{{goToModuleBtnLng}}</button>
            <button ng-show="!visibleSubmoduleForm&&!selectedModule.iteration" ng-click="showSubModuleForm()">{{createSubModuleLng}}</button>
            <form ng-show="visibleSubmoduleForm">
                <label for="newSubModuleName"><b>{{createSubModuleNameLng}}</b></label>
                <input ng-model="newSubModuleName" id="newSubModuleName" type="text">
                </input>
                <br>
                <label for="subModuleEstimatedDate"><b>{{createSubModuleEstimatedDateLng}}</b></label>
                <input ng-model="newSubModuleDate" id="subModuleEstimatedDate" type="date">
                <br>
                <button ng-click="registerNewSubModule()">{{registerNewSubModuleLng}}</button>
            </form>
        </div>
        <br>
        <table bgcolor="#CEF6CE" ng-model="selectedModule" ng-change="selectedModule">
            <tr>
                <th>
                    <center>
                        {{moduleEndLng}}
                    </center>
                </th>
            </tr>
            <tr>
                <td><b>{{moduleEndTextLng}}</b>{{selectedModule.end.text}}</td>
            </tr>
            <tr>
                <td><b>{{moduleEndSelectionLng}}</b>{{selectedModule.end.selection}}</td>
            </tr>
            <tr>
                <td><b>{{moduleEndFinalDateLng}}</b>{{selectedModule.end.finalDate  | date:"dd/MMMM/yyyy"}}</td>
            </tr>
            <tr>
                <td><b>{{moduleStartDevelopmentRemarksLng}}</b>{{selectedModule.end.startAndDevelopmentRemarks}}</td>
            </tr>
            <tr>
                <td>
                    <center>
                        <button ng-show="!selectedModule.iteration" ng-click="showEndEdit()">{{editModuleEndLng}}</button>
                    </center>
                </td>
            </tr>
        </table>
        <br>
        <table bgcolor="#A9F5E1" ng-model="selectedModule" ng-change="selectedModule">
            <tbody>
            <tr>
                <th><center>{{moduleRemarksLng}}</center></th>
            </tr>
            <tr ng-repeat="remark in selectedModule.remarks">
                <td>{{remark}}</td>
            </tr>
            </tbody>
        </table>
    </center>
    <br>
    <label for="newRemark"><b>{{newRemarkLng}}</b></label>
    <input ng-model="newRemark" id="newRemark" type="text">
    <button ng-click="saveRemark()">{{addRemarkLng}}</button>
</div>
<br>
<div ng-show="visibleStartDocuments&&authenticated">
    <table bgcolor="#81F781" ng-model="selectedModule" ng-change="selectedModule">
        <tbody>
        <tr>
            <th><center>{{moduleStartDocumentsLng}} {{selectOneForDetailsLng}}</center></th>
        </tr>
        <tr ng-repeat="document in selectedModule.start.documents">
            <td ng-click="goToDocument(document)">{{document}}</td>
        </tr>
        </tbody>
    </table>
    <button ng-click="showStartDocuments()">{{backLng}}</button>
</div>
<br>
<div ng-show="visibleDevelopmentDocuments&&authenticated">
    <table bgcolor="#81F781" ng-model="selectedModule" ng-change="selectedModule">
        <tbody>
        <tr>
            <th><center>{{moduleDevelopmentDocumentsLng}} {{selectOneForDetailsLng}}</center></th>
        </tr>
        <tr ng-repeat="document in selectedModule.development.documents">
            <td ng-click="goToDocument(document)">{{document}}</td>
        </tr>
        </tbody>
    </table>
    <button ng-click="showDevelopmentDocuments()">{{backLng}}</button>
</div>
<form ng-show="visibleDevelopmentEdit&&authenticated">
    <br>
    <h1>
        <b>{{editModuleDevelopmentLng}}</b>
    </h1>
    <center>
        <br>
        <label for="moduleDevelopmentText"><b>{{moduleDevelopmentTextLng}}</b></label>
        <br>
        <textarea ng-model="tempDevelopmentText" id="moduleDevelopmentText" rows="4" cols="50">
        </textarea>
        <br>
        <div class="mui-select">
            <label for="repeatSelect0">
                <b>{{moduleDevelopmentSelectionLng}}
                </b>
            </label>
            <select id="repeatSelect0" ng-model="tempDevelopmentSelection">
                <option ng-repeat="option in moduleDevelopmentSelectionOpt.availableOptions" value="{{option.name}}">{{option.name}}</option>
            </select>
        </div>
        <br>
    </center>
    <button ng-click="saveNewDevelopmentData()">{{saveChangesLng}}</button>
    <button ng-click="showDevelopmentEdit()">{{backLng}}</button>
</form>
<br>
<form ng-show="visibleEndEdit&&authenticated">
    <br>
    <h1>
        <b>{{editModuleEndLng}}</b>
    </h1>
    <center>
        <br>
        <label for="moduleEndText"><b>{{moduleEndTextLng}}</b></label>
        <br>
        <textarea ng-model="tempEndText" id="moduleEndText" rows="4" cols="50">
        </textarea>
        <br>
        <div class="mui-select">
            <label for="repeatSelect1">
                <b>{{moduleEndSelectionLng}}
                </b>
            </label>
            <select id="repeatSelect1" ng-model="tempEndSelection">
                <option ng-repeat="option in moduleEndSelectionOpt.availableOptions" value="{{option.name}}">{{option.name}}</option>
            </select>
        </div>
        <br>
        <label for="moduleFinalDate"><b>{{moduleEndFinalDateLng}}</b></label>
        <input ng-model="tempEndFinalDate" id="moduleFinalDate" type="date">
        <br>
        <label for="moduleStaDevRemarks"><b>{{moduleStartDevelopmentRemarksLng}}</b></label>
        <br>
        <textarea ng-model="tempEndStaDevRemarks" id="moduleStaDevRemarks" rows="4" cols="50">
        </textarea>
        <br>
        <label for="repeatSelect2">
            <b>{{moduleIsFinishedLng}}
            </b>
        </label>
        <select id="repeatSelect2" ng-model="tempIteration">
            <option ng-repeat="option in moduleBooleanOpt.availableOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
        <br>
    </center>
    <button ng-click="saveNewEndData()">{{saveChangesLng}}</button>
    <button ng-click="showEndEdit()">{{backLng}}</button>
</form>
<br>
<form ng-show="authenticated&&visibleCloneForm">
    <h1>
        <b>{{cloneModuleTtlLng}}</b>
    </h1>
    <br>
    <center>
        <label for="moduleName"><b>{{createModuleNameLng}}</b></label>
        <input id="moduleName" ng-model = "moduleCloneName" type="text">
        <br>
        <label for="moduleOwner"><b>{{createModuleOwnerNameLng}}</b></label>
        <input id="moduleOwner" ng-model = "moduleCloneOwner.name" type="text">
        <br>
        <label for="moduleInitialDate"><b>{{createModuleInitialDateLng}}</b></label>
        <input ng-model="moduleCloneInitialDate" id="moduleInitialDate" type="date">
        <br>
    </center>
    <h2>
        <b>{{createModuleStartDataLng}}</b>
    </h2>
    <center>
        <br>
        <label for="moduleStartText"><b>{{createModuleStartTextLng}}</b></label>
        <br>
        <textarea ng-model="moduleCloneStartText" id="moduleStartText" rows="4" cols="50">
        </textarea>
        <br>
        <div class="mui-select">
            <label for="repeatSelect3">
                <b>{{createModuleStartSelectionLng}}
                </b>
            </label>
            <select id="repeatSelect3" ng-model="moduleCloneStartSelection">
                <option ng-repeat="option in moduleStartSelectionOpt.availableOptions" value="{{option.name}}">{{option.name}}</option>
            </select>
        </div>
        <br>
        <div class="mui-select">
            <label for="repeatSelect4">
                <b>{{createModuleMaintainsFrequencyLng}}
                </b>
            </label>
            <select id="repeatSelect4" ng-model="moduleCloneMaintainsFrequency">
                <option ng-repeat="option in moduleBooleanOpt.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
            <br>
            <strong>
                <b>{{moduleFrequencyNoteLng}}
                </b>
            </strong>
        </div>
        <br>
        <label for="moduleEstimatedDate"><b>{{createModuleEstimatedDateLng}}</b></label>
        <input ng-model="moduleCloneEstimatedDate" id="moduleEstimatedDate" type="date">
        <br>
    </center>
    <br>
    <button ng-click="showCloneForm()">{{backLng}}</button>
    <button ng-click="registerModuleClone()">{{registerModuleLng}}</button>
</form>
<br>
<div ng-show="authenticated&&visibleIterateModule">
    <label for="iterate"><b>{{iterateModuleLng}}</b></label>
    <button id="iterate" ng-click="showIterateForm()">{{NoLng}}</button>
    <button ng-click="iterateModule()">{{YesLng}}</button>
</div>